<div class="card">
  <div class="card-body">
    <div class="row align-items-center">
      <div class="col-3">
        <img
          src="/assets/img/team/team-1.jpg"
          class="img-fluid rounded-circle"
        />
      </div>
      <div class="d-flex col-8 flex-column justify-content-center">
        <h5 class="card-title fw-bold fs-5 mb-1">Nguyễn Tú</h5>
        <p class="card-text text-muted mb-0">Người theo dõi: 3</p>
        <p class="card-text text-muted mb-0">
          <span class="status active">
            <i class="fa-solid fa-circle"></i>
          </span>
          Hoạt động 4 giờ trước
        </p>
      </div>
    </div>
    <button class="btn btn-dark w-100 my-3">
      <i class="fa-solid fa-comment-dots"></i>
      Chat
    </button>
    <p class="card-text">
      <i class="fa-regular fa-calendar-days"></i>
      Đã Tham gia: 8 năm 7 tháng
    </p>
    <p class="card-text">
      <i class="fa-solid fa-phone"></i>
      Số điện thoại: 0235234324
    </p>
    <p class="card-text d-flex gap-3 justify-content-center fs-4">
      <a href=""><i class="bi bi-twitter-x"></i></a>
      <a href=""><i class="bi bi-facebook"></i></a>
      <a href=""><i class="bi bi-instagram"></i></a>
      <a href=""><i class="bi bi-linkedin"></i></a>
    </p>
  </div>
</div>
