<div class="index-page">
  <!-- Header -->
  <app-header></app-header>
  <main class="main">
    <!-- Hero Section -->
    <app-home-slide></app-home-slide>

    <!-- Services Section -->
    <section class="services section">
      <!-- Section Title -->
      <div class="container section-title">
        <h2>Dịch vụ của chúng tôi</h2>
      </div>
      <!-- Service List -->
      <div class="container">
        <app-service-list></app-service-list>
      </div>
    </section>

    @if(posts){
    <!-- Post Recent Section -->
    <section class="real-estate section">
      <!-- Section Title -->
      <div class="container section-title">
        <h2>Những bài đăng gần đây</h2>
      </div>
      <!-- Recent Posts -->
      <div class="container">
        <app-post-list [posts]="posts"></app-post-list>
      </div>
    </section>
    } @if(lessors){
    <!-- Rentaler Section -->
    <section class="agents section">
      <!-- Section Title -->
      <div class="container section-title">
        <h2>Người cho thuê được yêu thích nhất</h2>
      </div>
      <!-- Rentaler List -->
      <div class="container">
        <app-lessor-list [lessors]="lessors"></app-lessor-list>
      </div>
    </section>
    }
    <!-- Stats Section -->
    <app-home-stats></app-home-stats>
    <!-- Feedbacks Section -->
    <section class="testimonials section">
      <!-- Section Title -->
      <div class="container section-title">
        <h2>Mọi người nói gì về chúng tôi</h2>
      </div>
      <!-- Feedback Swiper -->
      <div class="container">
        <app-home-feedback></app-home-feedback>
      </div>
    </section>
  </main>
  <!-- Footer -->
  <app-footer></app-footer>
</div>
