<div class="container" data-aos="fade-up">
  <div class="swiper init-swiper">
    <div class="swiper-wrapper">
      @for (item of [1,2,3,4,5,6]; track $index) {
      <div class="swiper-slide">
        <div class="testimonial-wrap">
          <div class="testimonial-item">
            <img
              src="assets/img/testimonials/testimonials-1.jpg"
              class="testimonial-img"
              alt=""
            />
            <h3>Saul Goodman</h3>
            <h4>Ceo &amp; Founder</h4>
            <div class="stars">
              <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i
              ><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i
              ><i class="bi bi-star-fill"></i>
            </div>
            <p>
              <i class="bi bi-quote quote-icon-left"></i>
              <span
                >Proin iaculis purus consequat sem cure digni ssim donec
                porttitora entum suscipit rhoncus. Accusantium quam, ultricies
                eget id, aliquam eget nibh et. Maecen aliquam, risus at
                semper.</span
              >
              <i class="bi bi-quote quote-icon-right"></i>
            </p>
          </div>
        </div>
      </div>
      }
    </div>
    <div class="swiper-pagination"></div>
  </div>
</div>
