<section id="stats" class="stats section">
  <div class="container" data-aos="fade-up">
    <div class="row gy-4">
      @for (item of [1,2,3,4]; track $index) {
      <div class="col-lg-3 col-md-6">
        <div class="stats-item d-flex align-items-center w-100 h-100">
          <i class="bi bi-emoji-smile color-blue flex-shrink-0"></i>
          <div>
            <span
              data-purecounter-start="0"
              data-purecounter-end="232"
              data-purecounter-duration="1"
              class="purecounter"
            ></span>
            <p>Happy Clients</p>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</section>
