<div class="modal-header">
  <h4 class="modal-title">Đặt Lịch xem phòng</h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="decline()"
  ></button>
</div>
<div class="modal-body">
  <form [formGroup]="form">
    <div class="row">
      <!-- IntendedIntoDate select -->
      <mat-form-field class="col-lg-4" appearance="outline">
        <mat-label>Ngày chuyển vào</mat-label>
        <input
          matInput
          [min]="minIntendedIntoDate"
          [matDatepicker]="pickerIntendedIntoDate"
          placeholder="MM/DD/YYYY"
          formControlName="intendedIntoDate"
        />
        <mat-datepicker-toggle matSuffix [for]="pickerIntendedIntoDate"></mat-datepicker-toggle>
        <mat-datepicker #pickerIntendedIntoDate></mat-datepicker>
      </mat-form-field>
      <!-- EndDate select -->
      <mat-form-field class="col-lg-4" appearance="outline">
        <mat-label>Ngày trả phòng</mat-label>
        <input
          matInput
          [min]="minEndDate"
          [matDatepicker]="pickerEndDate"
          placeholder="MM/DD/YYYY"
          formControlName="endDate"
        />
        <mat-datepicker-toggle matSuffix [for]="pickerEndDate"></mat-datepicker-toggle>
        <mat-datepicker #pickerEndDate></mat-datepicker>
      </mat-form-field>
      <!-- NumberOfTenant input -->
      <mat-form-field class="col-lg-4" appearance="outline">
        <mat-label>Số người ở</mat-label>
        <input
          matInput
          type="number"
          min="0"
          placeholder="0"
          class="hide-spin"
          formControlName="numberOfTenant"
        />
        @if( numberOfTenant?.invalid && (numberOfTenant?.dirty ||
        numberOfTenant?.touched) ){
        <mat-error>{{ errorForNumberOfTenant() }}</mat-error>
        }
      </mat-form-field>
    </div>
    <!-- Note input -->
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Ghi chú</mat-label>
      <textarea matInput formControlName="note"></textarea>
    </mat-form-field>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-light" (click)="decline()">
    Hủy bỏ
  </button>
  <button
    type="button"
    class="btn btn-dark"
    (click)="accept()"
    [disabled]="form.invalid || !form.dirty"
  >
    Đặt phòng
  </button>
</div>
