<div
  class="d-flex flex-column rounded"
  style="height: 80vh"
  *ngIf="conversation"
>
  <div
    class="d-flex justify-content-center align-items-center rounded my-2 py-1"
    style="background-color: #2eca6a"
  >
    <img
      [src]="receiver?.avatarUrl || '/assets/img/avatar_default.jpg'"
      width="55"
      class="rounded-circle"
    />
  </div>
  <div
    class="flex-fill hidden-scroll chat"
    #scrollMe
    [scrollTop]="scrollMe.scrollHeight"
  >
    @for (message of messages(); track $index) {
    <app-message [message]="message"></app-message>
    }
  </div>
  <div class="input-group rounded border border-light-subtle mt-2">
    <input
      type="text"
      class="form-control"
      (keydown.enter)="sendMessage()"
      [formControl]="message"
      placeholder="Nhập tin nhắn"
    />
    <button
      class="btn btn-dark border-0"
      (click)="sendMessage()"
      [disabled]="message.invalid || !message.dirty"
    >
      <i class="fas fa-paper-plane"></i>
    </button>
  </div>
</div>
