<form [formGroup]="form">
  <a
    [routerLink]="['/lessor/post']"
    class="link-opacity-50-hover text-secondary d-inline-block mt-4 pe-2 px-2"
    ><i class="fa-solid fa-arrow-left-long"></i>
    Trở lại
  </a>
  <h5 class="fs-5 fw-bold my-4">Tạo bài đăng</h5>
  <!-- Title input -->
  <mat-form-field class="w-100" appearance="outline">
    <mat-label>Tiêu đề</mat-label>
    <input matInput type="text" placeholder="Tiêu đề" formControlName="title" />
    @if( title?.invalid && (title?.dirty || title?.touched) ){
    <mat-error>{{ errorForTitle() }}</mat-error>
    }
  </mat-form-field>
  <div class="row">
    <!-- Room select -->
    <mat-form-field class="col-lg-6" appearance="outline">
      <mat-label>Phòng</mat-label>
      <mat-select formControlName="room">
        @for (room of (room$ | async); track $index) {
        <mat-option [value]="room">{{ room?.name }}</mat-option>
        }
      </mat-select>
      @if( room?.invalid && (room?.dirty || room?.touched) ){
      <mat-error>{{ errorForRoom() }}</mat-error>
      }
    </mat-form-field>
    <!-- AvailableFrom select -->
    <mat-form-field class="col-lg-6" appearance="outline">
      <mat-label>Ngày có sẵn</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        [min]="minDate"
        placeholder="MM/DD/YYYY"
        formControlName="availableFrom"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <!-- Description input -->
  <mat-form-field class="w-100" appearance="outline">
    <mat-label>Mô tả chi tiết</mat-label>
    <textarea matInput formControlName="description"></textarea>
  </mat-form-field>

  <button
    type="button"
    [disabled]="form.invalid || !form.dirty"
    (click)="onInsert()"
    class="btn btn-lg btn-dark w-100"
  >
    Đăng
  </button>
</form>
