<div class="cart-page">
  <!-- Header -->
  <app-header></app-header>
  <main class="main">
    <!-- Cart Section -->
    <section class="section">
      <div class="container">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col">
            <app-cart-list [cartDetails]="cart()?.cartDetails"></app-cart-list>
            <div class="d-flex justify-content-end">
              <button
                type="button"
                data-mdb-button-init
                data-mdb-ripple-init
                class="btn btn-light btn-lg"
                routerLink="/apartment"
              >
                Tiếp tục chọn phòng
              </button>
              <button
                *ngIf="cart()?.cartDetails?.length"
                type="button"
                data-mdb-button-init
                data-mdb-ripple-init
                class="btn btn-dark btn-lg ms-2"
                (click)="onBooking()"
              >
                Đặt phòng
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <!-- Footer -->
  <app-footer></app-footer>
</div>
