<div class="modal-header">
  <h4 class="modal-title">{{ confirm.title }}</h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="decline()"
  ></button>
</div>
<div class="modal-body">
  <p>{{ confirm.message }}</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-light" (click)="decline()">
    {{ confirm.button.accept }}
  </button>
  <button type="button" ngbAutofocus class="btn btn-primary" (click)="accept()">
    {{ confirm.button.decline }}
  </button>
</div>
