<div class="card">
  <div class="card-body">
    <div class="container my-3">
      <div class="row justify-content-between lign-items-center">
        <div class="col-xl-9">
          <p class="text-muted fs-4">Hóa đơn</p>
        </div>
        <div class="col-xl-3">
          <a
            data-mdb-ripple-init
            class="btn btn-light text-capitalize"
            data-mdb-ripple-color="dark"
            ><i class="far fa-file-pdf text-danger"></i> Xuất hóa đơn</a
          >
        </div>
        <hr />
      </div>

      <div class="container">
        <div class="col-md-12 pb-3">
          <p class="logo d-flex justify-content-center">
            <img src="/assets/icons/logo.svg" />
          </p>
        </div>

        <div class="row">
          <div class="col-xl-8">
            <ul class="list-unstyled">
              <li class="text-muted">
                Đến:
                <span class="text-info-emphasis">{{
                  data.tenant?.fullName
                }}</span>
              </li>
              <li class="text-muted"></li>
              <li class="text-muted">
                <i class="fas fa-phone"></i>
                {{ data.tenant?.phoneNumber }}
              </li>
            </ul>
          </div>
          <div class="col-xl-4">
            <ul class="list-unstyled">
              <li class="text-muted">
                <span class="fw-bold">Ngày tạo: </span>
                {{ data.invoice?.createdAt| date : "dd/MM/yyyy" }}
              </li>
              <li class="text-muted">
                <span class="fw-bold">Thời hạn còn: </span>
                {{ countDownFilter(data.invoice?.dueDate!) }}
              </li>
              <li class="text-muted">
                <span class="me-1 fw-bold">Trạng thái: </span
                ><span class="badge bg-warning text-black fw-bold">
                  {{ statusFilter[data.invoice?.status!] }}</span
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="row my-2 mx-1 justify-content-center">
          <table class="table table-striped table-borderless">
            <thead class="text-white">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Mô tả</th>
                <th scope="col">Giá</th>
              </tr>
            </thead>
            <tbody>
              @for (invoiceDetail of data.invoice?.invoiceDetails; track $index)
              {
              <tr>
                <th scope="row">{{ $index }}</th>
                <td>{{ invoiceDetail.detail }}</td>
                <td>
                  {{
                    invoiceDetail.price | currency : "VND" : "symbol" : "1.0-0"
                  }}
                </td>
              </tr>
              }
            </tbody>
          </table>
        </div>
        <div class="row justify-content-end">
          <div class="col-xl-4">
            <p class="text-black">
              <span class="text-black me-3">Tổng tiền</span
              ><span class="fs-4">{{
                data.invoice?.amount | currency : "VND" : "symbol" : "1.0-0"
              }}</span>
            </p>
          </div>
        </div>
        <hr />
        <button type="button" (click)="onPayment()" class="btn btn-dark w-100">
          Thanh toán
        </button>
      </div>
    </div>
  </div>
</div>
