<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-3">
        <img
          [src]="lessor?.avatarUrl || '/assets/img/avatar_default.jpg'"
          class="img-fluid rounded-circle"
        />
      </div>
      <div class="d-flex col-8 flex-column justify-content-center">
        <h5 class="card-title fw-bold fs-5 mb-1">{{ lessor?.fullName }}</h5>
        <p class="card-text text-muted">
          Người theo dõi: {{ lessor?.numberOfFollowers }}
        </p>
      </div>
    </div>
    <button class="btn btn-dark w-100 my-3">
      <i class="fa-solid fa-plus"></i>
      Theo dõi
    </button>
    <p class="card-text">
      <i class="fa-solid fa-newspaper"></i>
      {{ numberOfPost }} tin đăng
    </p>
    <p class="card-text">
      <i class="fa-regular fa-calendar-days"></i>
      Đã Tham gia: {{ timeSinceParticipateFilter(lessor?.createdAt!) }}
    </p>
    <p class="card-text">
      <i class="fa-solid fa-phone"></i>
      Số điện thoại: {{ lessor?.phoneNumber }}
    </p>
    <p class="card-text">
      <i class="fa-solid fa-location-dot"></i>
      Địa chỉ: {{ lessor?.address || "Đang cập nhật" }}
    </p>
    <p class="card-text d-flex gap-3 justify-content-center fs-4">
      <a><i class="bi bi-twitter-x"></i></a>
      <a><i class="bi bi-facebook"></i></a>
      <a><i class="bi bi-instagram"></i></a>
      <a><i class="bi bi-linkedin"></i></a>
    </p>
  </div>
</div>
