<div class="container">
  <ngb-pagination
    [collectionSize]="120"
    [(page)]="page"
    [maxSize]="5"
    [rotate]="true"
    [ellipses]="false"
    [boundaryLinks]="true"
  >
    <ng-template ngbPaginationFirst
      ><i class="fa-solid fa-angles-left"></i
    ></ng-template>
    <ng-template ngbPaginationPrevious
      ><i class="fa-solid fa-chevron-left"></i
    ></ng-template>
    <ng-template ngbPaginationNext
      ><i class="fa-solid fa-chevron-right"></i
    ></ng-template>
    <ng-template ngbPaginationLast
      ><i class="fa-solid fa-angles-right"></i
    ></ng-template>
  </ngb-pagination>
</div>
