<form [formGroup]="form">
  <div
    class="d-flex align-items-center justify-content-center justify-content-lg-start"
  >
    <p class="lead fw-normal mb-0 me-3">Đăng nhập {{ title }} bằng</p>
    <button type="button" routerLink="/" class="btn btn-primary mx-1">
      <i class="fab fa-facebook-f"></i>
    </button>

    <button type="button" routerLink="/" class="btn btn-danger mx-1">
      <i class="fa-brands fa-google"></i>
    </button>
  </div>

  <div class="divider d-flex align-items-center my-4">
    <p class="text-center fw-bold mx-3 mb-0">Hoặc</p>
  </div>

  <!-- Email input -->
  <mat-form-field class="w-100" appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput type="email" placeholder="Email" formControlName="email" />

    @if( email?.invalid && (email?.dirty || email?.touched) ){
    <mat-error>{{ errorForEmail() }}</mat-error>
    }
  </mat-form-field>

  <!-- Password input -->
  <mat-form-field class="w-100" appearance="outline">
    <mat-label>Mật khẩu</mat-label>
    <input
      matInput
      [type]="hidePass ? 'password' : 'text'"
      placeholder="Nhập mật khẩu"
      formControlName="password"
    />
    <mat-icon matSuffix (click)="hidePass = !hidePass">{{
      hidePass ? "visibility_off" : "visibility"
    }}</mat-icon>

    @if( password?.invalid && (password!.dirty || password?.touched) ){
    <mat-error>{{ errorForPassword() }}</mat-error>
    }
  </mat-form-field>

  <div class="d-flex justify-content-between align-items-center">
    <!-- Checkbox -->
    <div class="form-check">
      <input
        class="form-check-input me-2"
        type="checkbox"
        formControlName="isRemember"
        id="check"
      />
      <label class="form-check-label" for="check"> Nhớ mật khẩu </label>
    </div>
    <a [routerLink]="['/']" class="text-body">Quên mật khẩu?</a>
  </div>

  <div class="text-center text-lg-start mt-3">
    <button
      type="button"
      [disabled]="form.invalid"
      (click)="onLogin()"
      class="btn btn-lg btn-dark w-100"
    >
      Đăng nhập
    </button>
    <p class="small fw-bold mt-3">
      Bạn chưa có tài khoản?
      <a [routerLink]="[control + '/register']" class="link-danger">Đăng ký</a>
    </p>
  </div>
</form>
