<form [formGroup]="form" class="container">
  <!-- Filter Bar -->
  <div class="row g-2">
    <div class="col-md-2">
      <select class="form-select text-truncate">
        <option class="d-none" selected>Địa điểm</option>
        @for (place of (provices$ | async); track $index) {
        <option [value]="place">{{ place?.name }}</option>
        }
      </select>
    </div>

    <div class="search col-md-8">
      <div class="icon">
        <img src="/assets/icons/search.svg" />
      </div>
      <input type="text" class="form-control" placeholder="Tìm kiếm..." />
    </div>

    <div class="col-md-2">
      <button class="btn btn-dark w-100" (click)="onFilter()">Lọc</button>
    </div>

    <div class="col-md-4">
      <select class="form-select text-truncate">
        <option class="d-none" selected>Loại nhà đất</option>
        <option value="RentalRoom">Phòng trọ</option>
        <option value="MiniApartment">Chung cư mini</option>
        <option value="Apartment">Chung cư</option>
      </select>
    </div>

    <div class="col-md-4">
      <select class="form-select text-truncate">
        <option class="d-none" selected>Mức giá</option>
        <option value="">Dưới 1 triệu</option>
        <option value="">1 - 3 triệu</option>
        <option value="">3 - 5 triệu</option>
        <option value="">5 - 10 triệu</option>
        <option value="">10 - 40 triệu</option>
        <option value="">40 - 70 triệu</option>
        <option value="">70 - 100 triệu</option>
        <option value="">Trên 100 triệu</option>
        <option value="">Thỏa thuận</option>
      </select>
    </div>

    <div class="col-md-4">
      <select class="form-select text-truncate">
        <option class="d-none" selected>Diện tích</option>
        <option value="">Tất cả diện tích</option>
        <option value="">Dưới 30m&#178;</option>
        <option value="">30 - 50m&#178;</option>
        <option value="">50 - 80m&#178;</option>
        <option value="">80 - 100m&#178;</option>
        <option value="">100 - 150m&#178;</option>
        <option value="">150 - 200m&#178;</option>
        <option value="">200 - 250m&#178;</option>
        <option value="">250 - 300m&#178;</option>
        <option value="">300 - 500m&#178;</option>
        <option value="">Trên 500m&#178;</option>
      </select>
    </div>

    <div class="col-md-2">
      <input
        type="checkbox"
        class="btn-check"
        id="new-btn"
        checked
        autocomplete="off"
      />
      <label class="btn btn-dark d-block w-100" for="new-btn">Mới nhất</label>
    </div>

    <div class="col-md-2">
      <input
        type="checkbox"
        class="btn-check"
        id="favorite-btn"
        checked
        autocomplete="off"
      />
      <label class="btn btn-dark d-block w-100" for="favorite-btn"
        >Được yêu tích nhất</label
      >
    </div>

    <div class="col-md-4">
      <select class="form-select">
        <option class="d-none" selected>Sắp xếp giá</option>
        <option value="">Tăng dần</option>
        <option value="">Giảm dần</option>
      </select>
    </div>

    <div class="col-md-4">
      <select class="form-select">
        <option class="d-none" selected>Sắp xếp diện tích</option>
        <option value="">Tăng dần</option>
        <option value="">Giảm dần</option>
      </select>
    </div>
  </div>
</form>
