<div class="modal-header">
  <h4 class="modal-title">{{ modal.title }}</h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="decline()"
  ></button>
</div>
<div class="modal-body">
  <p>{{ modal.content }}</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-light" (click)="decline()">
    {{ modal.button.decline }}
  </button>
  <button type="button" class="btn btn-dark" (click)="accept()">
    {{ modal.button.accept }}
  </button>
</div>
