<!-- Navigate -->
<ul class="nav nav-pills">
  <li>
    <a class="nav-link active" data-bs-toggle="pill" href="#post-saved">
      Tin đã lưu
    </a>
  </li>
  <li>
    <a class="nav-link" data-bs-toggle="pill" href="#follwer">Theo dõi</a>
  </li>
</ul>

<!-- Content -->
<div class="tab-content mt-3">
  <!-- Content one -->
  <div class="tab-pane fade show active" id="post-saved">
    <div class="real-estate real-estate-sm">
      @if(savedPosts?.length != 0){
      <app-post-list [posts]="savedPosts"></app-post-list>
      }@else {
      <p class="fs-4 py-5 text-center">Bạn chưa có phòng trọ nào!</p>
      }
    </div>
  </div>

  <!-- Content two -->
  <div class="tab-pane fade" id="follwer">
    <div class="agents">
      @if(followees?.length != 0){
      <app-lessor-list [lessors]="followees"></app-lessor-list>
      }@else {
      <p class="fs-4 py-5 text-center">Bạn chưa theo dõi ai!</p>
      }
    </div>
  </div>
</div>
