<div class="properties-page">
  <app-header [underline]="2"></app-header>
  <main class="main">
    <!-- Page Title -->
    <div class="page-title" data-aos="fade">
      <div class="heading">
        <div class="container">
          <div class="row d-flex justify-content-center text-center">
            <div class="col-lg-8">
              <h1>Phòng cho thuê</h1>
              <p class="mb-0">
                Odio et unde deleniti. Deserunt numquam exercitationem. Officiis
                quo odio sint voluptas consequatur ut a odio voluptatem. Sit
                dolorum debitis veritatis natus dolores. Quasi ratione sint. Sit
                quaerat ipsum dolorem.
              </p>
            </div>
          </div>
        </div>
      </div>
      <nav class="breadcrumbs">
        <div class="container">
          <ol>
            <li><a href="index.html">Trang chủ</a></li>
            <li class="current">Phòng cho thuê</li>
          </ol>
        </div>
      </nav>
    </div>
    <!-- End Page Title -->

    <!-- Apartment Filter Engine -->
    <div class="mt-2" data-aos="fade-up">
      <app-apartment-filter></app-apartment-filter>
    </div>

    <!-- Apartment Section -->
    <section id="apartment" class="apartment section">
      <div class="container">
        <!-- <div class="row gy-4"> -->
        <div class="" data-aos="fade-up" data-aos-delay="100">
          <app-post-item></app-post-item>
        </div>
        <!-- End Property Item -->

        <div class="" data-aos="fade-up" data-aos-delay="200">
          <app-post-item></app-post-item>
        </div>
        <!-- End Property Item -->

        <div class="" data-aos="fade-up" data-aos-delay="300">
          <app-post-item></app-post-item>
        </div>
        <!-- End Property Item -->

        <div class="" data-aos="fade-up" data-aos-delay="400">
          <app-post-item></app-post-item>
        </div>
        <!-- End Property Item -->

        <div class="" data-aos="fade-up" data-aos-delay="500">
          <app-post-item></app-post-item>
        </div>
        <!-- End Property Item -->

        <div class="" data-aos="fade-up" data-aos-delay="600">
          <app-post-item></app-post-item>
        </div>
        <!-- End Property Item -->
      </div>

      <!-- Pagination -->
      <app-pagination></app-pagination>
    </section>
    <!-- /Apartment Section -->
  </main>

  <app-footer></app-footer>
  <!-- Scroll Top -->
  <app-scroll-top></app-scroll-top>

  <!-- Preloader -->
  <div id="preloader"></div>
</div>
