<div class="container">
  <div class="row justify-content-center">
    <!-- Faq Column -->
    <div class="col-lg-10">
      <div class="faq-container">
        <!-- Faq item-->
        <div class="faq-item faq-active">
          <h3>Hợp đồng thuê phòng trọ Hà Nội cần lưu ý những gì?</h3>
          <div class="faq-content">
            <p>
              Trước khi ký hợp đồng thuê trọ Hà Nội, cần chú ý: tiền cọc thuê
              trọ, giá tiền thuê phòng trọ Hà Nội, giá điện và nước sinh hoạt,
              thời hạn hợp đồng, số lượng người ở tối đa, quy định rõ về trách
              nhiệm các bên.
            </p>
          </div>
          <i class="faq-toggle bi bi-chevron-right"></i>
        </div>
        <!-- Faq item-->
        <div class="faq-item">
          <h3>Kinh nghiệm đi thuê phòng trọ ở Hà Nội?</h3>
          <div class="faq-content">
            <p>
              Cần xác định vị trí thuê phòng trọ ở Hà Nội để có thể thuận tiện
              di chuyển đi học và đi làm; Ưu tiên chọn các khu vực an ninh, có
              bãi giữ xe; Kiểm tra kỹ các thiết bị vật dụng trước khi dọn vào;
              Đọc thật kỹ hợp đồng trước khi ký.
            </p>
          </div>
          <i class="faq-toggle bi bi-chevron-right"></i>
        </div>
      </div>
    </div>
  </div>
</div>
