.multi-truncate {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card {
  transition: box-shadow 0.3s ease;
  cursor: pointer;
  h5{
    font-size: 24px;
  }
  &:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  }
}
.carousel img {
  width: 100%; /* Chiều rộng đầy đủ */
  height: 300px; /* Đặt chiều cao cố định */
  object-fit: cover; /* Giữ tỷ lệ, nhưng cắt phần dư nếu cần */
}
