<div class="portfolio-info">
  <div class="d-flex">
    <h3 class="flex-fill">Thông tin chính</h3>
    @if(isAuthentication){
      <app-like [isSaved]="checkSave(post?.id)" (save)="onSave($event)"></app-like>
      }
  </div>
  <ul class="row">
    <div class="col-lg-12 col-6">
      <li>
        <strong><i class="fa-solid fa-border-all"></i>Diện tích:</strong
        ><span> {{ post?.room?.area }}m&#178;</span>
      </li>
      <li>
        <strong><i class="fa-solid fa-sack-dollar"></i>Mức giá:</strong>
        {{ priceFilter(post?.room?.price || 1) }}
      </li>
      <li>
        <strong><i class="fa-solid fa-location-dot"></i>Địa điểm:</strong>
        {{ post?.room?.address }}
      </li>
      <li>
        <strong><i class="fa-solid fa-layer-group"></i>Loại:</strong>
        {{ categoryFilter[post?.room!.category] }}
      </li>
      <li>
        <strong><i class="fa-solid fa-bed"></i>Phòng ngủ:</strong>
        {{ post?.room?.bedroom }}
      </li>
      <li>
        <strong><i class="fa-solid fa-toilet"></i>Toilet:</strong>
        {{ post?.room?.toilet }}
      </li>
    </div>
    <div class="col-lg-12 col-6">
      <li>
        <strong><i class="fa-solid fa-bath"></i>Phòng tắm:</strong>
        {{ post?.room?.bathroom }}
      </li>
      <li>
        <strong><i class="fa-solid fa-couch"></i>Nội thất:</strong>
        {{ interiorFilter[post?.room!.interior] }}
      </li>
      <li>
        <strong><i class="fa-regular fa-clock"></i>Cập nhật:</strong>
        {{ timeSinceUpdateFilter(post?.updatedAt!) }}
      </li>
      <li>
        <strong><i class="fa-regular fa-calendar-plus"></i>Ngày đăng:</strong>
        {{ post?.createdAt | date : "dd/MM/yyyy" }}
      </li>
    </div>
  </ul>
</div>
