<header>
  <div class="header-logo">
    <img src="/assets/icons/logo.svg" />
  </div>
  <nav>
    <div class="nav-tab">
      <a routerLink="/">Trang chủ</a>
      <a routerLink="/">Nhà cho thuê</a>
      <a routerLink="/">Người cho thuê</a>
      <a routerLink="/">Tin tức</a>
      <a routerLink="/">Liên hệ</a>
    </div>
    <div class="nav-button">
      <button routerLink="/" class="btn btn-outline-warning rounded-pill">
        <img src="/assets/icons/search.svg" />
      </button>
      <button routerLink="/" class="btn btn-outline-warning rounded-pill">
        <img src="/assets/icons/profile.svg" />
      </button>
      <button routerLink="/" class="btn btn-dark">Đăng nhập</button>
    </div>
  </nav>
</header>
