<footer class="d-flex border-top justify-content-center">
  <div class="container-fluid container-xl row my-5">
    <div class="col">
      <a
        href="/"
        class="d-flex align-items-center mb-3 link-dark text-decoration-none"
      >
        <img src="/assets/icons/logo.svg" />
      </a>
      <p class="text-muted">
        Đưa bạn đến gần hơn với ngôi nhà mơ ước của mình chỉ bằng một cú nhấp
        chuột.
      </p>
    </div>

    <div class="col"></div>

    <div class="col">
      <h5 class="fw-bold">Về chúng tôi</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-muted">Giới thiệu</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-muted">Blog</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-muted">Quy chế nhà</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-muted">Chính sách bảo mật</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-muted">Điều khoản sử dụng</a>
        </li>
      </ul>
    </div>

    <div class="col">
      <h5 class="fw-bold">Hỗ trợ</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-muted">FAQ</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-muted">Liên hệ hỗ trợ</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-muted">Trung tâm trợ giúp</a>
        </li>
      </ul>
    </div>

    <div class="col">
      <h5 class="fw-bold">Mạng xã hội</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-muted">
            <i class="fa-brands fa-instagram"></i>
            Instagram
          </a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-muted">
            <i class="fa-brands fa-square-facebook"></i>
            Facebook
          </a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-muted">
            <i class="fa-brands fa-square-twitter"></i>
            Twitter
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
