<div class="services-page">
  <!-- Header -->
  <app-header [underline]="4"></app-header>

  <main class="main">
    <!-- Page Title -->
    <div class="page-title" data-aos="fade">
      <div class="heading">
        <div class="container">
          <div class="row d-flex justify-content-center text-center">
            <div class="col-lg-8">
              <h1>Dịch vụ</h1>
              <p class="mb-0">
                Odio et unde deleniti. Deserunt numquam exercitationem. Officiis
                quo odio sint voluptas consequatur ut a odio voluptatem. Sit
                dolorum debitis veritatis natus dolores. Quasi ratione sint. Sit
                quaerat ipsum dolorem.
              </p>
            </div>
          </div>
        </div>
      </div>
      <nav class="breadcrumbs">
        <div class="container">
          <ol>
            <li><a href="index.html">Trang chủ</a></li>
            <li class="current">Dịch vụ</li>
          </ol>
        </div>
      </nav>
    </div>

    <!-- Services Section -->
    <section id="services" class="services section">
      <app-service-list></app-service-list>
    </section>

    <!-- Faq Section -->
    <section id="faq" class="faq section">
      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Những câu hỏi thường gặp</h2>
      </div>
      <!-- Faq -->
      <app-faq></app-faq>
    </section>
  </main>

  <!-- Footer -->
  <app-footer></app-footer>
  <!-- Scroll Top -->
  <app-scroll-top></app-scroll-top>
  <!-- Preloader -->
  <div id="preloader"></div>
</div>
