<!-- Navigate -->
<ul class="nav nav-pills">
  <li>
    <a class="nav-link active" data-bs-toggle="pill" href="#overview">
      Tổng quan
    </a>
  </li>
  <li>
    <a class="nav-link" data-bs-toggle="pill" href="#profile">Hô sơ</a>
  </li>
  <li>
    <a class="nav-link" data-bs-toggle="pill" href="#account">Tài khoản</a>
  </li>
</ul>

<!-- Content -->
<div class="tab-content mt-3">
  <!-- Content one -->
  <div class="tab-pane fade show active" id="overview">
    <app-profile-edit-overview [user]="user"></app-profile-edit-overview>
  </div>

  <!-- Content two -->
  <div class="tab-pane fade" id="profile">
    <app-profile-edit-profile [user]="user"></app-profile-edit-profile>
  </div>
</div>
