<div class="modal-header">
  <h4 class="modal-title">Đặt Lịch xem phòng</h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="decline()"
  ></button>
</div>
<div class="modal-body">
  <form [formGroup]="form">
    <div class="row">
      <!-- Number of month input -->
      <mat-form-field class="col-lg-6" appearance="outline">
        <mat-label>Số tháng thuê</mat-label>
        <input
          matInput
          type="number"
          min="1"
          placeholder="1"
          class="hide-spin"
          formControlName="numberOfMonth"
        />
        @if( numberOfMonth?.invalid && (numberOfMonth?.dirty ||
        numberOfMonth?.touched) ){
        <mat-error>{{ errorFornumberOfMonth() }}</mat-error>
        }
      </mat-form-field>
      <!-- Number of tenant input -->
      <mat-form-field class="col-lg-6" appearance="outline">
        <mat-label>Số người ở</mat-label>
        <input
          matInput
          type="number"
          min="1"
          placeholder="1"
          class="hide-spin"
          formControlName="numberOfTenant"
        />
        @if( numberOfTenant?.invalid && (numberOfTenant?.dirty ||
        numberOfTenant?.touched) ){
        <mat-error>{{ errorForNumberOfTenant() }}</mat-error>
        }
      </mat-form-field>
    </div>
    <!-- Note input -->
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Ghi chú</mat-label>
      <textarea matInput formControlName="note"></textarea>
    </mat-form-field>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-light" (click)="decline()">
    Hủy bỏ
  </button>
  <button
    type="button"
    class="btn btn-dark"
    (click)="accept()"
    [disabled]="form.invalid || !form.dirty"
  >
    Thêm vào giỏ
  </button>
</div>
