<div class="modal-header">
  <h4 class="modal-title">{{ modal?.title }}</h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="decline()"
  ></button>
</div>
<div class="modal-body">
  <ng-template [ngIf]="isTemplate(modal)" [ngIfElse]="text">
    <ng-template [ngTemplateOutlet]="modal?.content"></ng-template>
  </ng-template>
  <ng-template #text>{{ modal?.content }}</ng-template>
</div>
@if(modal?.button){
<div class="modal-footer">
  <button type="button" class="btn btn-light" (click)="decline()">
    {{ modal?.button?.decline || "Hủy bỏ" }}
  </button>
  <button type="button" class="btn btn-dark" (click)="accept()">
    {{ modal?.button?.accept || "Đồng ý" }}
  </button>
</div>
}
