<header id="header" class="header d-flex align-items-center fixed-top">
  <div
    class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between"
  >
    <a [routerLink]="['/']" class="logo d-flex align-items-center">
      <img src="/assets/icons/logo.svg" />
    </a>

    <nav #navmenu class="navmenu d-flex align-items-center gap-5">
      <ul>
        <li>
          <a
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Trang chủ</a
          >
        </li>
        <li>
          <a routerLink="/apartment" routerLinkActive="active">Nhà cho thuê</a>
        </li>
        <li>
          <a routerLink="/agency" routerLinkActive="active">Người cho thuê</a>
        </li>
        <li><a routerLink="/service" routerLinkActive="active">Dịch vụ</a></li>
        <li><a routerLink="/contact" routerLinkActive="active">Liên hệ</a></li>
      </ul>
      <div class="btn-navmenu d-flex gap-2">
        <div *appIfAuthenticated="true">
          <app-menu></app-menu>
        </div>

        <div *appIfAuthenticated="false" class="d-flex gap-2">
          <button routerLink="/register" class="btn btn-dark">Đăng ký</button>
          <button routerLink="/login" class="btn btn-dark">Đăng nhập</button>
        </div>
      </div>
      <i
        #mobileNavToggle
        (click)="toggleMobile()"
        class="mobile-nav-toggle d-xl-none bi bi-list"
      ></i>
    </nav>
  </div>
</header>
