<!-- Navigate -->
<ul class="nav nav-pills">
  <li>
    <a class="nav-link active" data-bs-toggle="pill" href="#poster-rental">
      Tin cho thuê
    </a>
  </li>
  <li>
    <a class="nav-link" data-bs-toggle="pill" href="#poster-buy"
      >Tin đăng bán
    </a>
  </li>
</ul>

<!-- Content -->
<div class="tab-content mt-3">
  <!-- Content one -->
  <div class="tab-pane fade show active" id="poster-rental">
    <div class="real-estate real-estate-sm">
      <app-post-list></app-post-list>
      <button class="btn btn-dark d-block mt-5 mx-auto">Xem thêm</button>
    </div>
  </div>
  <!-- Content two -->
  <div class="tab-pane fade" id="poster-buy">
    <img src="assets/img/floor-plan.jpg" alt="" class="img-fluid" />
  </div>
</div>
