<!-- Navigate -->
<ul class="nav nav-pills">
  <li>
    <a class="nav-link active" data-bs-toggle="pill" href="#poster">
      Tin đang đăng
    </a>
  </li>
  <li>
    <a class="nav-link" data-bs-toggle="pill" href="#evaluate"> Đánh giá </a>
  </li>
</ul>

<!-- Content -->
<div class="tab-content mt-3">
  <!-- List Post -->
  <div class="tab-pane fade show active" id="poster">
    <div class="real-estate">
      <app-post-list [posts]="lessor?.posts || []"></app-post-list>
    </div>
  </div>
  <!-- Rating -->
  <div class="tab-pane fade" id="evaluate">

  </div>
</div>
