<div class="lessor-single-page">
  <!-- Header -->
  <app-header></app-header>
  <main class="main">
    <!-- Page Title -->
    <div class="page-title">
      <div class="heading">
        <div class="container">
          <div class="row d-flex justify-content-center text-center">
            <div class="col-lg-8">
              <h1>Chi tiết người cho thuê</h1>
            </div>
          </div>
        </div>
      </div>
      <nav class="breadcrumbs">
        <div class="container">
          <ol>
            <li><a [routerLink]="['/']">Trang chủ</a></li>
            <li class="current">Chi tiết người cho thuê</li>
          </ol>
        </div>
      </nav>
    </div>

    <!-- Lessor Detail Section -->
    <section id="renter-detail" class="renter-detail section">
      <div class="container">
        <div class="row justify-content-between">
          <!-- Lessor profile -->
          <div class="col-md-4">
            <app-lessor-detail-profile [lessor]="lessor"></app-lessor-detail-profile>
          </div>

          <!-- Tabs -->
          <div class="col-md-8">
            <app-lessor-detail-tab ></app-lessor-detail-tab>
          </div>
        </div>
      </div>
    </section>
  </main>
  <!-- Footer -->
  <app-footer></app-footer>
</div>
