<div class="index-page">
  <main class="main">
    <!-- Hero Section -->
    <app-home-slide></app-home-slide>

    <!-- Services Section -->
    <section class="services section">
      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Dịch vụ của chúng tôi</h2>
      </div>
      <!-- Service List -->
      <app-service-list></app-service-list>
    </section>

    <!-- Post Recent Section -->
    <section class="real-estate section">
      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Những bài đăng gần đây</h2>
      </div>
      <!-- Recent Posts -->
      <app-post-list></app-post-list>
    </section>

    <!-- Rentaler Section -->
    <section class="agents section">
      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Người cho thuê được yêu thích nhất</h2>
      </div>
      <!-- Rentaler List -->
      <app-lessor-list></app-lessor-list>
    </section>
    <!-- Stats Section -->
    <app-home-stats></app-home-stats>
    <!-- Feedbacks Section -->
    <section class="testimonials section">
      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Mọi người nói gì về chúng tôi</h2>
      </div>
      <!-- Feedback Swiper -->
      <app-home-feedback></app-home-feedback>
    </section>
  </main>
</div>
