<div class="card overflow-hidden mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <ngb-carousel>
        @for (photo of post.room?.photos || []; track $index;) {
        <ng-template ngbSlide>
          <img [src]="photo.url" class="img-fluid rounded-start" />
          <div class="carousel-caption d-none d-md-block">
            <h5 class="text-white">{{ "" }}</h5>
            <p>{{ "" }}</p>
          </div>
        </ng-template>
        }
      </ngb-carousel>
    </div>
    <div class="col-md-8">
      <div class="card-body d-flex flex-column h-100">
        <div class="d-flex">
          <h5 class="card-title flex-fill">{{ post.title }}</h5>
          @if(isAuthentication){
          <app-like (save)="onSave($event)"></app-like>
          }
        </div>
        <div class="d-flex">
          <span class="card-text text-danger fw-bold pe-2">{{
            priceFilter(post.room?.price)
          }}</span>
          <span class="card-text fw-bold pe-2">
            {{ post.room?.area }}m&#178;
          </span>
          <span class="card-text pe-2">
            {{ post.room?.bedroom }}
            <i class="fa-solid fa-bed pe-2"></i>
          </span>
          <span class="card-text pe-2">
            {{ post.room?.bathroom }}
            <i class="fa-solid fa-toilet"></i>
          </span>
          <span class="card-text">
            {{ post.room?.toilet }}
            <i class="fa-solid fa-bath"></i>
          </span>
        </div>
        <div class="card-text text-muted py-1">
          <i class="fa-solid fa-location-dot"></i>
          {{ post.room?.address }}
        </div>
        <div class="card-text flex-fill pt-3">
          <p class="text-muted multi-truncate">
            {{ post.description }}
          </p>
        </div>
        <div class="d-flex">
          <p class="card-text flex-fill">
            <small class="text-body-secondary">{{
              timeSinceUpdateFilter(post.updatedAt!)
            }}</small>
          </p>
          <a [routerLink]="['/apartment/detail', post.id]" class="readmore"
            >Xem chi tiết <i class="bi bi-arrow-right"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</div>
